<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
  <a routerLink="/home" routerLinkActive="active">首页</a>
  <a routerLink="/shop" routerLinkActive="active">商铺</a>
  <a routerLink="/product" routerLinkActive="active">商品</a>
  <a routerLink="/user" routerLinkActive="active">用户</a>

</div>


<router-outlet></router-outlet> -->

<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
    <div class="logo">
        <img alt="上汽通用" src="../assets/image/sgm_icon.png">
        <span class="logo_title">上汽通用运维平台</span>
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu>
        <span title><i nz-icon type="user"></i><span class="nav-text">ESB管理</span></span>
        <ul>
          <li nz-menu-item><a routerLink="/user/list" routerLinkActive="active">ESB列表</a></li>
          <li nz-menu-item><a routerLink="/user/vip" routerLinkActive="active">ESB信息</a></li>
          <li nz-menu-item><a routerLink="/user/add" routerLinkActive="active">ESB管理</a></li>
          <li nz-menu-item><a routerLink="/user/edit" routerLinkActive="active">ESB设置</a></li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i nz-icon type="team"></i><span class="nav-text">Team</span></span>
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li>
      <li nz-menu-item><span><i nz-icon type="file"></i><span class="nav-text">File</span></span></li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;">
      <i class="trigger" nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'" (click)="isCollapsed=!isCollapsed"></i>

      <nz-dropdown class="fr">
          <a nz-dropdown>
            OSB管理员 <i nz-icon type="down"></i>
          </a>
          <ul nz-menu nzSelectable>
            <li nz-menu-item>
              <a>个人信息</a>
            </li>
            <li nz-menu-item>
              <a>OSB设置</a>
            </li>
            <li nz-menu-item>
              <a>注销</a>
            </li>
          </ul>
        </nz-dropdown>

    </nz-header>
    <nz-content style="margin:0 16px;">
      <nz-breadcrumb style="margin:16px 0;">
        <nz-breadcrumb-item>上汽通用</nz-breadcrumb-item>
        <nz-breadcrumb-item>运维平台</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div style="padding:24px; background: #fff; min-height: 360px;">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer style="text-align: center;">Ant Design ©2017 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
<ng-template #trigger>
  <i nz-icon type="up"></i>
</ng-template>