<!-- Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<div class="dv">
    <span>Server Info:</span>&nbsp;&nbsp;
    <label><input type="checkbox" value="DEV01" id="check1">DEV01</label>&nbsp;&nbsp;
    <input type="checkbox" value="DEV02" id="check2"> <label for="check2">DEV02</label>&nbsp;&nbsp;
    <input type="checkbox" value="DEV03" id="check3"> <label for="check3">DEV03</label>&nbsp;&nbsp;
    <input type="checkbox" value="DEV04" id="check4"> <label for="check4">DEV04</label>&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-success">Search</button>
</div>
<nz-table
class="data—table"
#editRowTable
nzBordered
[nzData]="dataSet">
<!-- [nzPageSize]=10000 -->
<thead>
  <tr>
      <th width="8%" style="text-align:center">编号</th>
      <th width="15%" style="text-align:center">服务名称</th>
      <th width="25%" style="text-align:center">服务地址</th>
      <th width="15%" style="text-align:center">项目名称</th>
      <th width="10%" style="text-align:center">读取超时</th>
      <th width="10%" style="text-align:center">连接超时</th>
      <th width="10%" style="text-align:center">服务器信息</th>
      <th width="10%" style="text-align:center">操作</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let data of editRowTable.data; let i = index">
    <td>{{i+1}}</td>
    <td>
      <!-- <div class="editable-cell">
        <div class="editable-cell-text-wrapper">
          <ng-container *ngIf="!editCache[data.mainKey].edit"> -->
              {{data.serviceName}}
          <!-- </ng-container>
          <ng-container *ngIf="editCache[data.mainKey].edit">
            <input type="text" nz-input [(ngModel)]="editCache[data.mainKey].data.serviceName">
          </ng-container>
        </div>
      </div> -->
    </td>
    <td>
      <!-- <ng-container *ngIf="!editCache[data.mainKey].edit"> -->
          {{data.serviceURI}}
      <!-- </ng-container>
      <ng-container *ngIf="editCache[data.mainKey].edit">
        <input type="text" nz-input [(ngModel)]="editCache[data.mainKey].data.serviceURI">
      </ng-container> -->
    </td>
    <td>
      <!-- <ng-container *ngIf="!editCache[data.mainKey].edit"> -->
          {{data.serviceProject}}
      <!-- </ng-container>
      <ng-container *ngIf="editCache[data.mainKey].edit">
        <input type="text" nz-input [(ngModel)]="editCache[data.mainKey].data.serviceProject">
      </ng-container> -->
    </td>
    <td class="jz">
        <ng-container *ngIf="!editCache[data.mainKey].edit">
            {{data.readTimeOut}}
        </ng-container>
        <ng-container *ngIf="editCache[data.mainKey].edit">
          <input type="text" nz-input [(ngModel)]="editCache[data.mainKey].data.readTimeOut">
        </ng-container>
      </td>
      <td class="jz">
          <ng-container *ngIf="!editCache[data.mainKey].edit">
              {{data.connectionTimeOut}}
          </ng-container>
          <ng-container *ngIf="editCache[data.mainKey].edit">
            <input type="text" nz-input [(ngModel)]="editCache[data.mainKey].data.connectionTimeOut">
          </ng-container>
        </td>
        <td class="jz">
            <!-- <ng-container *ngIf="!editCache[data.mainKey].edit"> -->
                {{data.serverInfo}}
            <!-- </ng-container>
            <ng-container *ngIf="editCache[data.mainKey].edit">
              <input type="text" nz-input [(ngModel)]="editCache[data.mainKey].data.serverInfo">
            </ng-container> -->
        </td>
    <td> 
      <div class="editable-row-operations">
        <ng-container *ngIf="!editCache[data.mainKey].edit">
          <a (click)="startEdit(data.mainKey)">编辑</a>
        </ng-container>
        <ng-container *ngIf="editCache[data.mainKey].edit">
          <a (click)="saveEdit(data.mainKey)">保存</a>&nbsp;
          <nz-popconfirm [nzTitle]="'确定取消吗?'" (nzOnConfirm)="cancelEdit(data.mainKey)">
            <a nz-popconfirm>取消</a>  
          </nz-popconfirm>
        </ng-container>
      </div>
    </td>
  </tr>
</tbody>
</nz-table> 